body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

div#Map {
	position: relative;
	float: left;
	margin-left: 5%;
	margin-top: 5%;
	border: 1px solid;
}

div#Cars {
	position: absolute;
    top: -55px ;
    left: -55px ;
}

img.carimgs {
	position: absolute;
}

button {
  border-radius: 15px;
  margin-left: 5px;
}

input[type="number"] {
	width: 3em;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}

.point {
	position: absolute;
	visibility: hidden;
}